@import '../settings/_settings';

.container {
  display: flex;

  & + & {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid $gray-200;
  }

  > span {
    font-size: 12px;
    margin: 16px 128px auto auto;
    display: block;
  }
}

.productImage {
  border-radius: 4px;
}

.sectionDetail {
  max-width: 500px;
  margin-left: 16px;

  display: flex;
  flex-direction: column;
}

.andesMoneyAmount {
  font-size: 46px;
  margin: 32px 0;
  display: inline-flex;

  span {
    margin-right: 5px;
  }
}
